.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-row-ycenter{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.flex-row-xright-ybottom{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
}