name: auto deploy for vue project

#当在mster分支上，进行push、pull_requests操作时，会触发此工作流。
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

#一个工作流可以分为好几个job
jobs:
  #有一个名称为build的job
  build:
    # 当前job在什么环境里执行，这里使用最新的ubuntu系统
    runs-on: ubuntu-latest

    # 一个job里，可以分为好多个步骤
    steps:
      # 1.先将代码拷贝到虚拟机里，这里使用了别人封装好的actions
      - name: checkout
        uses: actions/checkout@v3

      # 2.安装依赖并打包
      - name: buildAndDeploy
        uses: JamesIves/github-pages-deploy-action@dev
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages # 存放产物的分支名称
          FOLDER: dist # 存放build后产物的目录
          BUILD_SCRIPT: npm install && npm run build # 执行的命令
